body{
    padding: 0;
margin: 0;
}
*{
    box-sizing: border-box;
}
.section{
  width: 1440px;
height: 940px;
background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
}

.navbar{
width: 1440px;
height: 150px;
display: flex;
flex-direction: row;
padding: 0;
margin: 0;
justify-content: center;
}
.logo{
    width: 250px;
    height: 150px;

display: flex;
align-items: center;
justify-content: space-around;
cursor: pointer;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height */
color: #FFFFFF;
}
.nav{
display: flex;
align-items: center;
justify-content: space-evenly;
width: 680px;
height: 150px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
}
.nav p {
    font-family: 'Poppins';
font-style: normal;
font-size: 25px;
/* line-height: 2/2px; */
/* identical to box height */
color: #FFFFFF;
cursor: pointer;
}
.regist{
    width: 490px;
    height: 150px;
 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 1440px;
    margin: 0;
}
.header-row{
     display: flex;
align-items: center;
justify-content: flex-end;
    width: 700px;
    height: 780px;
  
    margin: 0;
    padding: 0;
}
.header-row-center{
    display: flex;

    width: 500px;
    height: 630px;
    flex-direction: column; 
    row-gap: 20px;
}
.header-text{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 82px;

color: #FFFFFF;
}
.header-p1{
    background: rgba(30, 29, 29, 0.25);
border-radius: 15px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 23px;
max-height: 50px;
margin: 0;
line-height: 27px;
transition: all 0.5s;
width: 150px;
height: 60px;
color: #FFFFFF;
padding: 0 ;
cursor: pointer;

box-shadow: 1px 5px 5px rgb(112, 112, 112),0px 8px 20px ;
transition: all 0.6s ease;

display: flex;
align-items: center;
justify-content: center;
}
.header-p1:hover{
    top: 8px;
}
.header-p2{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 38px;

color: #FFFFFF;
padding: 0;
opacity: 0.5;
}
.header-p3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 38px;
width: 263px;
height: 91px;
color: #FEFEFE;

}
.header-img{
    width: 640px;
    height: 780px; ;
  display: flex;
  align-items: end;
   justify-content: flex-end;

}
.img{
height: 780px;
width: 750px;
}
.btn1{
    background: none;
    border:none;

    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
/* identical to box height */
color: #FFFFFF;
}
.btn2{
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
    width: 120px;
    height: 50px;
    border:none;
}
.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 550px;

}
.container-sider{
  width: 1400px;
  height: 450px;
  display: flex;
flex-direction: row;
}
.text-sider{
    width: 420px;
    height: 450px;

flex-direction: column;
display: flex;
justify-content: center;
}
h3{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 55px;
line-height: 82px;
/* identical to box height */
color: #0F1F1C;
margin: 0;
}
h2{
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
border-radius: 27px;
display: flex;
align-items: center;
justify-content: center;
width: 180px;
height: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */
color: #FEFEFE;
cursor: pointer;
}
p{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 38px;
color: #0F1F1C;

}
.slider{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1100px;
    height: 450px;

    list-style-type: none;
}
.slider-img{
    width: 300px;
    height: 300px;
    border-radius: 20%;
    transition: all 0.5s;
   
}
.bar-container{
   
    width: 1400px;
    height: 1600px;
display: flex;
align-items: center;
justify-content: center;
 flex-wrap: wrap;
}
.bar1{
    display: flex;
    align-items: center;
    justify-content:space-around;
  width:1280px; 

  height: 700px;
  background: #d1cdcd;
}
.bar-image{
width: 546px;
height: 600px;
padding: 0;

}
.bar-img-png{
    width: 478px;
    height: 537px;
    border-radius: 25%;

}
.bar-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 405px;
    height: 600px; 
   

}
.bar-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    
    color: #0F1F1C;
    
    opacity: 0.5;
}
.h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 68px;

color: #0F1F1C;

}

.bar-img-text{
background-image: url(/img/Rectangle\ 12.png);
background-repeat: no-repeat;

}
.bar-ul{
    display: flex;
    align-items: center;
    justify-content: center;
   list-style-type: none;
}
.bar2 {  
    width:1040px; 
    height: 581px;

border-radius: 55px;
display: flex;
align-items: center;
justify-content: center;
}
.bar2-h1{
    width: 519px;
    height: 136px;
}
.bar2 h1{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 68px;
text-align: center;

color: #0F1F1C;

}
.bar2-btn{
 background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
border-radius: 27px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 50px;
margin-top: 20px;
/* identical to box height */
color: #FFFFFF;
border: none;
}
.bar2-contain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}
footer{
    width:100vw ;
    height: 150vh;
    height: 719px;
 
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #b4b4b4;
}
.foooter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 850px;
    height: 450px;

}
.footer-text h4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 55px;
line-height: 82px;
text-align: center;
width: 494px;

color: #0F1F1C;
}
.footer-input{
    width: 850px;
    height: 150px;
}
.input {
width: 800px;
height: 129px;
border: none;
background-color: #aca2a2;
border-radius: 25px;
vertical-align: middle; 
}
.footer-row{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
width: 300px;     
cursor: pointer;
}
.footer-logo p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 30px;
color: rgb(252, 252, 252);
}
.footer-ul  {
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   list-style-type: none;
   cursor: pointer;

   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 22px;
   /* identical to box height */
   color: #0F1F1C;
opacity: 0.5;
}
.footer-row-pass{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-btn1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500px;
    font-size: 25px;
    line-height: 22px;
    /* identical to box height */
    color: #838B89;
   background: none;
   border:none;
   min-width: 120px;

}
